.profile_container{
    @apply w-full sm:w-3/4 lg:w-1/2 mx-auto font-Nunito ;
}

.profile_content{
    @apply flex flex-col md:flex-row gap-6 bg-lime-700 rounded-2xl shadow-2xl text-lg p-4;
}

.calculation_content{
    @apply flex flex-col gap-6 bg-lime-700 rounded-2xl shadow-2xl text-lg p-4;
}

.profile_text p{
    @apply p-4 px-8 text-base md:text-lg;
}

.user_image {
    @apply mt-5 w-24 px-10 h-24 sm:w-32 sm:h-32 rounded-full; 
}

.title{
    @apply uppercase text-2xl m-4;
}

.buttons_container{
    @apply flex flex-wrap gap-4 mb-10 justify-center;
}
.message {
    color: white; /* Cambia el color según lo que necesites */
    margin-top: 10px;
    font-size: 2rem; /* Ajusta el tamaño de fuente */
}

input {
    color: black; /* Cambia a cualquier color que haga visible el texto */
}

input, select { /* Apply styles to both input and select */
    color: black; /* Cambia a cualquier color que haga visible el texto */
    background-color: white; /* Cambia el fondo si es necesario */
}